header{
    font-size: 90px;
   margin-left: 500px;
   color: darkred;
}
img{
    margin-left: 550px;
}
#one{
    background-color: black;
    color: ivory;
    font-family: sans-serif;
}
#three{
    background-color: turquoise;
}